/* FONTS PATH */
$fa-font-path: "../fonts";

$xs: 0;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1366px;

/*containers size*/
$container-max-widths: (
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

$grid-breakpoints: (
        xs: $xs,
        sm: $sm,
        md: $md,
        lg: $lg,
        xl: $xl,
        xxl: $xxl
);

/*fonts*/




/*colors*/

$primary: #cc5c4d;
$secondary: #687235;
$gray: #e6a89e;
$light: #fae3d8;
$dark: #9f573b;


$theme-colors: (
        "primary":    $primary,
        "secondary":  $secondary,
        "light":      $light,
        "gray":       $gray,
        "dark":       $dark,
);
