header {
    background: $light;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .main-menu {
        overflow: hidden;

        .nav-item {
            .nav-link {
                position: relative;

                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    border: 1px solid $dark;
                    background-color: transparent;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    transition: all .8 ease-in-out;

                }

                &:hover {
                    &::before {
                        bottom: 0;
                        transition: all .8 ease-in-out;
                        animation-name: active;
                        animation-duration: 1s;
                    }
                }
            }

            &.active {
                .nav-link {
                    &::before {
                        bottom: 0;
                        background-color: $dark;
                        transition: all .8 ease-in-out;
                        animation-name: active;
                        animation-duration: 1s;
                    }
                }
            }
        }
    }

    .navbar-toggler {
        &:focus {
            box-shadow: none;
        }

        .btn-toggle {
            & .line {
                width: 30px;
                height: 3px;
                border-radius: 30px;
                background-color: $dark;
                display: block;
                margin: 6px 0 0 auto;
                text-align: right;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;

                &:nth-child(2) {
                    width: 20px;
                }

                &:nth-child(3) {
                    width: 10px;
                }
            }

            &:hover {
                cursor: pointer;
            }

            &.active {
                & .line {
                    margin: 10px auto;

                    &:nth-child(1) {
                        -webkit-transform: translateY(13px) rotate(45deg);
                        -ms-transform: translateY(13px) rotate(45deg);
                        -o-transform: translateY(13px) rotate(45deg);
                        transform: translateY(13px) rotate(45deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        width: 35px;
                        -webkit-transform: translateY(-13px) rotate(-45deg);
                        -ms-transform: translateY(-13px) rotate(-45deg);
                        -o-transform: translateY(-13px) rotate(-45deg);
                        transform: translateY(-13px) rotate(-45deg);
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {

        svg {
            width: 50px;
        }

        .main-menu {
            .nav-item {
                &.active {
                    .nav-link {
                        &::before {
                            display: block;
                            top: 50%;
                            left: auto;
                            right: 28px;
                            margin-right: 0;
                            transform: translate(0, -50%);
                        }
                    }
                }

                .nav-link {
                    padding: 0.5rem;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}