header {
    background: rgb(250, 227, 216);
    background: linear-gradient(180deg, rgba(250, 227, 216, 1) 0%, rgba(2, 0, 36, 0) 100%);

    .main-menu {
        overflow: hidden;

        .nav-item {
            .nav-link {
                position: relative;

                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    border: 1px solid $dark;
                    background-color: transparent;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%);
                    transition: all .8 ease-in-out;

                }

                &:hover {
                    &::before {
                        transition: all .8 ease-in-out;
                        bottom: 0;
                    }
                }
            }

            &.active {
                .nav-link {
                    &::before {
                        bottom: 0;
                        background-color: $dark;
                        transition: all .8 ease-in-out;
                        animation-name: active;
                        animation-duration: 1s;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        svg {
            width: 50px;
        }
    }
}